<!--<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name|uppercase}} 详情
  </h2>
  <div>英雄ID:{{selectedHero.id}}</div>
  <div>英雄名称:{{selectedHero.name}}</div>
  &lt;!&ndash;<div>
    <label>名称：</label>
    <input type="text" [(ngModel)]="hero.name">
  </div>&ndash;&gt;
</div>-->
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>{{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">X</button>
  </li>
</ul>
<div>
  <h3>新增英雄</h3>
  <label>英雄名称: <input type="text" #heroName /></label>
  <button (click)="add(heroName.value);heroName.value='';">新增</button>
</div>

